<!DOCTYPE html>
<head>
    <title>About</title>
    <link rel ="stylesheet" href ="/css/style.css">
    <link rel ="icon" href="/img/weather.jpg">
</head>
<body>
    <div.main-content>
        {{>header}}
    <p>This site was created by Shivangi Soni. It uses data from mapbox.com and darksky.net</p>
    <image class ="portrait" src='/img/India.jpg'></image>
    </div.main-content>
    {{>footer}}
   
</body>

</html>