<!DOCTYPE html>
<head>
    <title>Help</title>
    <link rel ="stylesheet" href ="/css/style.css">
    <link rel ="icon" href="/img/weather.jpg">
</head>
<body>
   <div.main-content>
    {{>header}}
    </div.main-content>
{{>footer}}
</body>

</html>